*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
}

header img{
    width: 80px;
    height: 80px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.profile-logout-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-logout-box img{
    border-radius: 100%;
}

@media(max-width:400px){

header{
    flex-direction: column;
    align-items: center;
}

}

