.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-family: Arial;
}

.datos{
    display: flex;
    flex-direction: row;
    text-align: center;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
}

.datosPersonales{
    display: flex;
    flex-direction: column;
}

.nombre{
display: flex;
flex-direction: row;
}

.contrasena{
    display: flex;
    flex-direction: row;
}

.correo{
    display: flex;
    flex-direction: row;
}

.direccion{
    display: flex;
    flex-direction: row;
}

.datosPerfil{
width: 50%;
background-color: rgb(194, 211, 212);
}

.cambioDatos{
    width: 50%;
    background-color:  rgb(194, 211, 212);
}

.cambioDatos ul li{
    list-style: none;
}

