.pagina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.busquedaUsuarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#perfiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border: 1px black solid;
}

#busqueda{
height: 25px;
}

#btnBuscar{
    width: 100px;
    height: 30px;
    border-radius: 0%;
    background-color: rgb(173, 173, 173);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}


@media(max-width:400px){

    .tarjeta{
        border: 1px black solid;
        margin-top: 10px;
        }

    }